@import './fonts.css';

body {
    @apply box-border;
    font-family: Circe, sans-serif;
    font-size: 16px;
    line-height: 24px;
}



.container {
    @apply max-w-screen-lg px-6 mx-auto;
}
.button {
    @apply rounded-50;
}