@import './fonts.css';

body {
    @apply box-border;
    font-family: Circe, sans-serif;
    font-size: 16px;
    line-height: 24px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    @apply max-w-screen-lg px-6 mx-auto min-h-full;
}
.button {
    @apply rounded-50 cursor-pointer hover:opacity-80;
}
button {
    @apply hover:opacity-80;
}
input {
    @apply outline-none;
}